
src/HarperDBStudioMobile/.vs/*
src/HarperDBStudioMobile/HarperDBStudioMobile.Android/bin/*
src/HarperDBStudioMobile/HarperDBStudioMobile.Android/obj/*
src/HarperDBStudioMobile/HarperDBStudioMobile.iOS/bin/*
src/HarperDBStudioMobile/HarperDBStudioMobile.iOS/obj/*
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/bin/*
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/obj/*
src/HarperDBStudioMobile/HarperDBStudioMobile/bin/*
src/HarperDBStudioMobile/HarperDBStudioMobile/obj/*
src/HarperDBStudioMobile/HarperDBStudioMobile/Utils/DummyDataClass.cs
src/HarperDBStudioMobile/HarperDBStudioMobile/Utils/DummyDataClass.cs
src/HarperDBStudioMobile/HarperDBStudioMobile/Utils/DummyDataClass.cs
src/HarperDBStudioMobile/HarperDBStudioMobile.iOS/obj/project.nuget.cache
src/HarperDBStudioMobile/HarperDBStudioMobile.iOS/obj/project.assets.json
src/HarperDBStudioMobile/HarperDBStudioMobile.iOS/obj/iPhoneSimulator/Debug/HarperDBStudioMobile.iOS.csproj.AssemblyReference.cache
src/HarperDBStudioMobile/HarperDBStudioMobile.iOS/obj/HarperDBStudioMobile.iOS.csproj.nuget.g.targets
src/HarperDBStudioMobile/HarperDBStudioMobile.iOS/obj/HarperDBStudioMobile.iOS.csproj.nuget.g.props
src/HarperDBStudioMobile/HarperDBStudioMobile.iOS/obj/HarperDBStudioMobile.iOS.csproj.nuget.dgspec.json
src/HarperDBStudioMobile/HarperDBStudioMobile.iOS/HarperDBStudioMobile.iOS.csproj
src/HarperDBStudioMobile/HarperDBStudioMobile.Android/obj/project.nuget.cache
src/HarperDBStudioMobile/HarperDBStudioMobile.Android/obj/project.assets.json
src/HarperDBStudioMobile/HarperDBStudioMobile.Android/obj/HarperDBStudioMobile.Android.csproj.nuget.g.targets
src/HarperDBStudioMobile/HarperDBStudioMobile.Android/obj/HarperDBStudioMobile.Android.csproj.nuget.g.props
src/HarperDBStudioMobile/HarperDBStudioMobile.Android/obj/HarperDBStudioMobile.Android.csproj.nuget.dgspec.json
src/HarperDBStudioMobile/.vs/HarperDBStudioMobile/v16/.suo
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/arm/Microsoft.NET.Native.Framework.2.2.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/arm/Microsoft.NET.Native.Runtime.2.2.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/arm/Microsoft.UI.Xaml.2.4.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/arm/Microsoft.VCLibs.ARM.14.00.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/arm64/Microsoft.NET.Native.Framework.2.2.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/arm64/Microsoft.NET.Native.Runtime.2.2.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/arm64/Microsoft.UI.Xaml.2.4.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/arm64/Microsoft.VCLibs.ARM64.14.00.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/Win32/Microsoft.UI.Xaml.2.4.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/x64/Microsoft.NET.Native.Framework.2.2.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/x64/Microsoft.NET.Native.Runtime.2.2.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/x64/Microsoft.UI.Xaml.2.4.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/x64/Microsoft.VCLibs.x64.14.00.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/x86/Microsoft.NET.Native.Framework.2.2.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/x86/Microsoft.NET.Native.Runtime.2.2.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/x86/Microsoft.UI.Xaml.2.4.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Dependencies/x86/Microsoft.VCLibs.x86.14.00.appx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/HarperDBStudioMobile.UWP_1.0.0.0_x64.appxsym
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/BundleArtifacts/x64.txt
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/BundleArtifacts/x86.txt
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/HarperDBStudioMobile.UWP.csproj
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/HarperDBStudioMobile.UWP.csproj.user
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/HarperDBStudioMobile.UWP_TemporaryKey.pfx
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/Package.appxmanifest
src/HarperDBStudioMobile/HarperDBStudioMobile/obj/Debug/netstandard2.0/HarperDBStudioMobile.assets.cache
src/HarperDBStudioMobile/HarperDBStudioMobile/obj/Debug/netstandard2.0/Views/AboutPage.xaml.g.cs
src/HarperDBStudioMobile/HarperDBStudioMobile/obj/Debug/netstandard2.0/Views/ItemDetailPage.xaml.g.cs
src/HarperDBStudioMobile/HarperDBStudioMobile/obj/Debug/netstandard2.0/Views/ItemsPage.xaml.g.cs
src/HarperDBStudioMobile/HarperDBStudioMobile/obj/Debug/netstandard2.0/Views/LoginPage.xaml.g.cs
src/HarperDBStudioMobile/HarperDBStudioMobile/obj/Debug/netstandard2.0/Views/NewItemPage.xaml.g.cs
src/HarperDBStudioMobile/HarperDBStudioMobile/obj/HarperDBStudioMobile.csproj.nuget.dgspec.json
src/HarperDBStudioMobile/HarperDBStudioMobile/obj/HarperDBStudioMobile.csproj.nuget.g.props
src/HarperDBStudioMobile/HarperDBStudioMobile/obj/HarperDBStudioMobile.csproj.nuget.g.targets
src/HarperDBStudioMobile/HarperDBStudioMobile/obj/project.assets.json
src/HarperDBStudioMobile/HarperDBStudioMobile/obj/project.nuget.cache
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.ps1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/cs-CZ/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/de-DE/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/en-US/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/es-ES/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/fr-FR/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/it-IT/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/ja-JP/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/ko-KR/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/pl-PL/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/pt-BR/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/ru-RU/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/tr-TR/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/zh-CN/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Add-AppDevPackage.resources/zh-TW/Add-AppDevPackage.psd1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/HarperDBStudioMobile.UWP_1.0.0.0_ARM.appxsym
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/HarperDBStudioMobile.UWP_1.0.0.0_x86.appxsym
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/HarperDBStudioMobile.UWP_1.0.0.0_x86_x64_arm.appxbundle
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/HarperDBStudioMobile.UWP_1.0.0.0_x86_x64_arm.cer
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/Install.ps1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/TelemetryDependencies/LogSideloadingTelemetry.ps1
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/TelemetryDependencies/Microsoft.VisualStudio.RemoteControl.dll
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/TelemetryDependencies/Microsoft.VisualStudio.Telemetry.dll
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/TelemetryDependencies/Microsoft.VisualStudio.Utilities.Internal.dll
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/AppPackages/HarperDBStudioMobile.UWP_1.0.0.0_Test/TelemetryDependencies/Newtonsoft.Json.dll
src/HarperDBStudioMobile/HarperDBStudioMobile.UWP/BundleArtifacts/arm.txt
